
@{
    ViewBag.Title = "Delivery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <div class="content">
        <div class="section group">
            <div class="grid_1_of_3 images_1_of_3">
                <img src="/Assets/client/images/Ship/ship1.png" alt="" />
                <h3 style="color:blue;">SHIPPING INFORMATION </h3>
                <p>
                    In the daily life of people today, various items using glass, ceramics, porcelain are very popular. The demand for fragile goods has also increased since then. The preservation and transport of this fragile item is not as simple as other goods which need a reputable and experienced shipping unit to ensure that these fragile shipments are always safe and effective.
                </p>
                <p>
                    Being an experienced transporting unit for nearly 10 years like Kristine Flower, with effective and safe handling of fragile goods, it is not difficult for us. Fragile items such as light bulbs, electronic screen displays, liquid glass bottles, high-class dishes, high-quality cups, jugs, jars, etc. Large quantities of storage are extremely difficult without a lot of experience in the storage and handling of cargoes. Kristine Flower shipping company is well versed in transporting fragile goods to North and South. Every fragile item that can be shipped to Kristine Flower is easy because we have extremely professional storage.
                </p>
            </div>
            <div class="grid_1_of_3 images_1_of_3">
                <img src="/Assets/client/images/Ship/delivery2.jpg" alt="" />
                <h3 style="color:blue;">TRANSPORT CONSULTING </h3>
                <p>For detailed advice on safe fragile freight service, customers can call the Hotline directly. We always serve the most thoughtful, especially the most preferential freight rates the market today will make customers unable to refuse.</p>
                <p style="color:red;font:unset">
                    Hotline: 09123213192
                </p>
                <p>
                    Some basic methods of preserving flowers are as follows:</p>
                <hr />
                <p>
                    1. Wrapping flowers carefully, especially for petals, must have its own protective net against expansion or collision.<br />
                    2. Flowers must be arranged neatly, avoiding too much pressure into a container, which can easily break the stem.<br />
                    3. Flowers of temperate varieties must have cool barrels to ensure a stable temperature.<br />
                    4. Have ethylene air bag (this gas causes early flowering effect.
                </p>
            </div>
            <div class="grid_1_of_3 images_1_of_3">
                <img src="/Assets/client/images/Ship/ship3.jpg" alt="" />
                <h3 style="color:blue;">HOW TO SHIPPING FLOWERS THAT ARE STILL FRESH </h3>
                <p>
                    Starting from the transporter, flowers are quite special goods, fragile flowers, easily crumpled if transported aggressively. Flower just a little stamping, it is not worth buying and selling anymore. The lack of professional transport is easy to break the inner flower.
                </p>
                <p>
                    When put on a transport vehicle, the ideal environment in the car is not always suitable for all types of flowers (including specialized flowers). This will make the flowers less fresh, the sale will be less valuable. Therefore, when transporting, it is best to transport only one type of flower at a time to adjust the environment on the vehicle best.
                </p>
                <p>
                    The protection of flowers during transportation is the most important stage, in this process, the flowers lose their strength and break the branches, enabling bacteria to penetrate and affect other flowers in the container or adjacent. edge. Therefore, hiring transportation is something that you should be most cautious about. Because just a little bit loophole, maybe the float will not be able to sell.
                </p>
            </div>
        </div>

    </div>
</div>
