
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <div class="content">
        <div class="section group">
            <div class="col_1_of_3 span_1_of_3">
                <h3>Who We Are</h3>
                <img src="/Assets/client/images/about_img.jpg" alt="">
                <p>Frank's Flowers located in Greenwood, MS specializes in a large inventory of fresh flowers, tropical plants, European/dish gardens, and contemporary and traditional arrangements including wedding and funeral designs. We also offer an extensive line of gifts, greeting cards, candles, balloons, a wide variety of plush animals and gourmet and fruit baskets.</p>
                <p>Our shop is open from 9:00 a.m. to 4:00 p.m., Monday through Friday and from 8:30 a.m. to 11:00 a.m. on Saturday. Holiday hours vary. We are closed on Sundays. To help assure on-time delivery during the busy holiday season, place your order at least 1 day prior to the following major holidays: Thanksgiving Day, Christmas Day, New Year's Day, Valentine's Day, Easter, Administrative Professionals Week, Mother's Day, Memorial Day, Father's Day, Independence Day and Labor Day. Our shop will always be closed on the following holidays: Thanksgiving Day, Christmas Day, New Year’s Day, Easter, Mother’s Day, Memorial Day, Father’s Day, Independence Day and Labor Day.</p>
            </div>
            <div class="col_1_of_3 span_1_of_3">
                <h3>Our History</h3>
                <div class="history-desc">
                    <div class="year"><p>1998 -</p></div>
                    <p class="history">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <div class="clear"></div>
                </div>
                <div class="history-desc">
                    <div class="year"><p>2001 -</p></div>
                    <p class="history">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                    <div class="clear"></div>
                </div>
                <div class="history-desc">
                    <div class="year"><p>2006 -</p></div>
                    <p class="history">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <div class="clear"></div>
                </div>
                <div class="history-desc">
                    <div class="year"><p>2010 -</p></div>
                    <p class="history">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <div class="clear"></div>
                </div>
                <div class="history-desc">
                    <img src="/Assets/client/images/hoatuoi_bgabout.jpg" alt="">
                </div>
            </div>
            <div class="col_1_of_3 span_1_of_3">
                <h3>Opportunities</h3>
                <p>
                    The scent of flowers not only adorns the spiritual life of people but has become a major industry with a focus on development. Back to the beginning of World War I was also the time when Aalsmeer flower market was formed. From a few small stalls to serve wartime soldiers, today Aalsmeer has become the largest center of fresh flower delivery in the world with nearly 80,000 transactions per day.
                </p>
                <p>
                    Commercial fresh flowers are distributed in 5 giant flower auction rooms, kept at a stable temperature by a central indoor system with a capacity of dozens of civil aircraft. Despite being below sea level, the Netherlands fresh flower industry is accounting for 52% of global supply, if only 10 million fresh cut flowers for export every year brought to this windmill country near 5 billion USD
                </p>
                <div class="list">
                    <ul>
                        <li><a href="#">Text of the printing</a></li>
                        <li><a href="#">Lorem Ipsum has been the standard</a></li>
                        <li><a href="#">Dummy text ever since the 1500s</a></li>
                        <li><a href="#">Unknown printer took a galley</a></li>
                        <li><a href="#">Led it to make a type specimen</a></li>
                        <li><a href="#">Not only five centuries</a></li>
                        <li><a href="#">Electronic typesetting</a></li>
                        <li><a href="#">Unchanged. It was popularised</a></li>
                        <li><a href="#">Sheets containing Lorem Ipsume</a></li>
                    </ul>
                </div>
             
            </div>
        </div>
    </div>
</div>

